* {
	border: none;
    border-color: #cdd6f4;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
	font-size: 15px;
}

window#waybar {
	background: transparent;
}

/* --- TRAY --- */
#tray {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background: #1e1e2e;
    color: #cdd6f4;
    transition: 0.3s;
}

#tray > .tray-item {
    margin-left: 6px;
}

/* --- NETWORK --- */
#network {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background: #1e1e2e;
    color: #cdd6f4;
    transition: 0.3s;
}

/* --- BATTERY --- */
#battery{
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background: #1e1e2e;
    color: #cdd6f4;
    transition: 0.3s;
}

/* --- AUDIO --- */
#pulseaudio {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background: #1e1e2e;
    color: #cdd6f4;
    transition: 0.3s;
}

#pulseaudio.muted {
    color: #cdd6f4;
    background: #1e1e2e;
    transition: 0.3s;
}

/* --- CLOCK --- */
#clock {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background: #1e1e2e;
    color: #cdd6f4;
    transition: 0.3s;
}

/* --- NETWORK DISCONNECTED --- */
#network.disconnected {
    color: #FEE5E4;
    background: #1e1e2e;
    border-bottom: 3px;
    border-style: solid;
    border-color: #EF3946;
}

/* --- POWER BUTTON --- */
#custom-power {
    font-size: 15px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    background: #1e1e2e;
    color: #cdd6f4;
    transition: 0.3s;
}

#custom-power:hover {
    background: #b4befe;
    color: #1e1e2e;
    border-color: #b4befe;
}

/* --- WORKSPACES --- */
#workspaces {
    margin-top: 8px;
    margin-left: 10px;
    background: #1e1e2e;
    border-radius: 10px;
    color: #cdd6f4;
    transition: 0.3s;
}

#workspaces button {
    margin: 0 0px;
    min-width: 0px;
    color: #cdd6f4;
    transition: 0.3s;
}

#workspaces button:hover {
    background: transparent;
    color: transparent;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.empty {
  opacity: 0.5;
}
